body { font-family: Verdana, 'Lucida Grande', Arial, Helvetica, sans-serif; font-size: 100%; background-color: #FFFFFF; color: #4D4D4D; }
.fadein { position:relative; height: 200px; width: 730px; }
.fadein img { position:absolute; left: 0px; top: 0px; }

.fullpage { background-color: #E6E6E6; text-align: center; border-spacing: 6px;}
.header { font-size: 100%; width: 100%; height: 120px; vertical-align: center; }

.container { border: none; text-align: left; border-top: #4D4D4D 1px solid; }
.content { border: #4D4D4D 1px solid; font-size: 100%; background-color: #E6E6E6; text-decoration: none; border-spacing: 2px; vertical-align: top; width: 100%;
           margin-bottom: 6px; }
.sidebar { vertical-align: top; }
.topimage { margin-bottom: 6px; }
.myTitle { padding:1px; border:1px none #4D4D4D; font-weight: bold; font-size: 95%; color: #FFFFFF; background-image: url('images/gray_linea.gif'); text-align: center; }

.line1 { color: #000000; background-color: #BFBFBF; text-align: left; font-size: 80%; }
.line1 td { padding: 3px; }
.line1 td a { color: #840500; text-decoration: none; }
.line2 { font-size: 80%; background-color: #999999; text-align: left; color: #000000; }
.line2 td { padding: 3px; }
.line2 td a { color: #840500; text-decoration: none; }

.linemain { font-size: 85%; color: #ffffff; background-color: #737373; text-align: center; }
.lineheader { color: #ffffff; text-indent: 2px; background-color: #737373; text-align: left; }
.lineheader td { padding: 3px; }

.footer { font-size: 70%; text-decoration: none; }

.nav { background-color: #999999; height: 40px; margin: 10px; border: #4D4D4D thin; color: #000000; }
.nav td { padding: 3px; width: 100%}
.nav  ul { margin: 0 0 0 0; padding: 0; }
.nav  ul li { display: inline; list-style-type: none; margin: 0; padding: 0; }
.nav  ul li a { float: left; font-size: 120%; font-weight: normal; margin: 0; padding: 4px 8px 6px 8px; background-color: #999999; border: 1px solid #4D4D4D;
                color: #ffffff; text-decoration: none; }
.nav  ul li a:hover { background-color: #E6E6E6; color: #000000 }
.nav ul li a:selected { background-color: #E6E6E6; border: 1px solid; border-color: #4D4D4D; color: #000000; font-weight: bold; }

.currenttopmenue { float: left; font-size: 120%; font-weight: normal; margin: 0; padding: 4px 8px 6px 8px; border: 1px solid #4D4D4D; background-color: #E6E6E6;
                   color: #000000; text-decoration: none; }

.lineerror { border: 1px solid; font-size: 110%; color: #ff0000; text-indent: 2px; background-color: #E6E6E6; text-align: center; }

.linedetail { font-size: 250%; color: #ffffff; text-indent: 2px; background-color: #737373; text-align: left; }
.linedetail a { font-size: 12px; color: #ffffff; }
.linedetail td { padding: 3px; }

.basket_input { border: 2px solid; border-color: #9D1D14; border-radius: 3px; webkit-border-radius: 3 px; }

#tabbed_navigation{ border-bottom:1px solid #ADADAD; margin-bottom:15px; }
#tabbed_navigation ul { padding:0px; }
#tabbed_navigation ul li { list-style-image: none; list-style-position: outside; list-style-type: none; border: 1px solid #999999; float: left; font-size: 80%; font-weight: bold;
                           margin-left: 3px; padding: 7px 10px; position: relative; text-decoration: none; top: 2px; }
#tabbed_navigation ul li a { float: left; text-decoration: none; color:# 333333; }
#tabbed_navigation ul li a:hover { background-color: #999999; }
#tabbed_navigation ul li.current { border-bottom:1px solid #bfbfbf; border-radius: 8px 8px 0px 0px; background-color: #bfbfbf; }

