<?xml version='1.0' encoding='utf-8'?>
<widget id="at.sv-olbendorf.mobile" version="1.0.8"
                                    xmlns="http://www.w3.org/ns/widgets"
                                    xmlns:gap = "http://phonegap.com/ns/1.0"
                                    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SVO Mobile</name>
    <description>
        Applikation des Sportvereines SV-Olbendorf
    </description>
    <author email="michael.stranka@gmail.com" href="http://www.michael-stranka.at">
        Michael Stranka
    </author>
    <content src="index.html" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="OpenAllWhitelistURLsInWebView:" value="YES" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="BackgroundColor" value="0xFFFF0000" />
    <preference name="xwalkCommandLine" value="--enable-pull-to-refresh-effect" />

    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" source='npm' />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" source='npm' />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />

    <icon src="icon.png" />

    <access origin="*" />
    <access uri="*" subdomains="true" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://www.sv-olbendorf.at/*" />
    <allow-navigation href="http://192.168.2.101:3001/*" />
    <platform name="android">
      <access origin="*" />
      <access origin="sms:*" launch-external="yes" />
      <access origin="tel:*" launch-external="yes" />
      <access origin="mailto:*" launch-external="yes" />
      <allow-intent href="market:*" />
      <allow-intent href="http://*/*" />
      <allow-intent href="https://*/*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="^3.8.0" />

</widget>
