<div class="block">
  <div class="top"><h2><%= t('Editing ') + Article.human_name %></h2></div>
  <div class="content">
    <%= render 'form' %>
    <div class="button small gray"><span><%= link_to t('Show'), @article %></span></div>
    <div class="button small gray"><span><%= link_to t('Back'), articles_path %></span></div>
  </div>
</div>