
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t'Editing article' %>
    </td>                
  </tr> 
  <%= render 'form' %>
  <tr class="tablelinemain">
    <td colspan="2">
      <%= link_to 'Show', @article %> |
      <%= link_to 'Back', articles_path %>
    </td>
  </tr>