 <% if @config.show_title == true %>
   <tr>
      <td class ="myTitle" width="100%">
        <%= @firstarticle.name %>
      </td>
    </tr>
   <% end %>
  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="line<%= cycle('1', '2') %>">
    <td colspan="2">
    <%= raw(@firstarticle.content) %>
    </td>
  </tr>

  <tr class="linemain">
    <td colspan="2">
	   &nbsp;
    </td>
  </tr>

