  <tr>
    <td class ="myTitle" width="100%">
      <%= @showarticle.name %>
    </td>
  </tr>
  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>
  <tr class="line<%= cycle('1', '2') %>">
    <td>
    <%= raw(@showarticle.content) %>
    </td>
  </tr>

  <tr class="linemain">
    <td>
	   &nbsp;
    </td>
  </tr>

