<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t(@firstarticle.name) %></a></h2>
<div class="block" id="main">
  <div class="first article" >
    <% if flash[:notice]%>
      <%= flash[:notice] %>
    <% end %>
    <%= raw(@firstarticle.content) %>
  </div>
</div>
