
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      Editing configuration
    </td>                
  </tr> 
  <%= render 'form' %>
  <tr class="tablelinemain">
    <td colspan="2">
      <%= link_to 'Show', @configuration %> |
      <%= link_to 'Back', configurations_path %>
    </td>
  </tr>