body{ font-family: Verdana, Arial, Helvetica, sans-serif;font-size:11px;margin:0;padding:0;background:url('images/bg.gif') repeat-x;background-color:#000609;}

h1 {font: 20px Trebuchet MS;color:#374457;margin:0;padding:0; border-bottom: dotted 1px; padding-bottom: 10px; margin-bottom: 20px; padding-top: 10px; }
h2 {font: 16px Trebuchet MS;color:#374457;margin:0;padding:0; border-bottom: dotted 1px; padding-bottom: 8px; margin-bottom: 18px; padding-top: 10px; }
h3 {font: 12px Trebuchet MS;color:#374457;margin:0;padding:0; border-bottom: dotted 1px; padding-bottom: 6px; margin-bottom: 16px; padding-top: 10px; }
h4 {font: 10px Trebuchet MS;color:#374457;margin:0;padding:0; border-bottom: dotted 1px; padding-bottom: 4px; margin-bottom: 14px;padding-top: 10px; }
h5 {font: 8px Trebuchet MS;color:#374457;margin:0;padding:0; border-bottom: dotted 1px; padding-bottom: 4px; margin-bottom: 14px;padding-top: 10px; }
.h2{font-family:Arial, Helvetica, sans-serif;line-height:18px;font-size:12px;color:#312E2E;font-weight:700;}
a:link, a:visited, a:active{color:#303030;text-decoration:none;font-weight:bold;}
a:hover{text-decoration:underline;}
input {border:1px solid #3A4B61;vertical-align: middle; font:11px Tahoma}
.input {width:160px;height:19px;border:1px solid #2F4052;background:#1F2A3A;font:13px Tahoma;color:#6C8092;line-height:19px;}
.button {border:0px; }
ol.commentlist{margin:0 0 1px;padding:0;}
ol.commentlist li{display:block;list-style:none;margin:0;padding:0px 0px 1px;}
ol.commentlist li :hover{background:none;}
ol.commentlist li.commenthead{display:block;list-style:none;margin:0;padding:0px;}
ol.commentlist li.commenthead h2{margin:0;}
ol.tblist{border-top:1px solid #fff;list-style:none;margin:0 0 1px;padding:15px;}
ol.tblist li{display:block;padding-left:15px;list-style-type:none; margin-left:0; margin-right:0; margin-top:0; margin-bottom:5px}

.navigation{width:800px;float:left;color:#303030;}
.navigation p {color:#303030;margin:0px;padding-left:10px;}
.navigation a:hover {text-decoration:none;}

.nav td { height:46px; width:796px; float:left; background:url('images/menubg.gif') repeat-x; border:1px solid #FFFFFF; overflow:hidden; border-spacing:0 }
.nav ul { margin: 0 0 0 0; padding: 0; }
.nav ul li { float:left; list-style-type:none; margin:0; padding-left:14px; padding-right:13px; border-left:1px solid #546A7E; border-right:1px solid #121C2A;
            font:12px Tahoma; text-transform:uppercase; color:#FFFFFF; padding-top: 17px; padding-bottom: 17px; color:#888 }
.nav ul li a { font:12px Tahoma; color:#FFFFFF; text-transform:uppercase;}
.nav ul li a:hover { text-decoration:underline;}
.nav ul li a:visited { font:14px Tahoma; color:#FFFFFF; text-transform:uppercase ;}
.nav ul li a:visited:hover { text-decoration:underline; }
.nav ul li a:selected { background-color: #E6E6E6; border: 1px solid; border-color: #4D4D4D; color: #000000; font-weight: bold; }

.fadein { position:relative; height: 200px; width: 430px; margin-top: 50px; margin-bottom:0px;  }
.fadein img { position:absolute; left: 0px; top: 0px; width: 430px;}

.fullpage { width:798px; margin:0 auto; border: none; text-align: center; }

.header{ height:96px; margin:0; padding:0; width:100%; background: transparent; border: none; }
.header h1 { margin:0px; font:31px Tahoma; color:#CECBCE; padding-left:11px; padding-top:20px; }
.header h1 a { color:#CECBCE; font-weight:normal; }
.header h1 a:hover { text-decoration:none;}
.header h2 { margin:0px; font:11px Tahoma; color:#314152; padding-left:11px; padding-top:2px; }
.headerbg{ width:800px;margin:0 auto;}

.container { float:left; background:url('images/mainbg.gif');background-position:14px 0px; border: none; border-spacing: 0px; }

.content{ font: 11px Tahoma; color:#374457; float:left; width:568px; margin:0; background:url('images/contentbg.gif') no-repeat; background-position: 100% 0%; min-height:730px;
          padding-bottom:10px; overflow:hidden; vertical-align:top; }
.blocks { font: 11px Tahoma; color:#374457; float:left; width:230px; margin:0; padding-bottom:10px; overflow:hidden; border-spacing: 0px; }
.news { font: 11px Tahoma; color:#374457; float:left; width:180px; margin:0; padding-bottom:10px; overflow:hidden; }

.content a { color:#374457; }
.content h4 { font: 18px Trebuchet MS; color:#374457; margin:0; padding:0; margin-left:13px; }

.topimage { background:url('images/contentbg.gif') no-repeat; background-position: 100% 0%; height: 200px; margin-bottom: 40px; }

.line1 { color: #000000; text-align: left; font-size: 80%; font: 11px Tahoma; vertical-align:top; }
.line1 td { padding-left: 12px; padding-right: 12px; padding-top: 6px; }
.line1 td a { font-weight:normal; color:#3A4B61; text-decoration: none; border-bottom: dotted 1px; }
.line1 td a:hover{ text-decoration: none; border-bottom: solid 1px;}
.line2 { font-size: 80%; text-align: left; color: #000000; font: 11px Tahoma; vertical-align:top; }
.line2 td { padding-left: 12px; padding-right: 12px; padding-top: 6px; }
.line2 td a { font-weight:normal; color:#303030; text-decoration: none; border-bottom: dotted 1px; }
.line2 td a:hover{text-decoration: none; border-bottom: solid 1px;}

.myTitle { margin:0px; padding:0px; font: 12px Tahoma; color:#FFFFFF; height:33px; background:url('images/catbg.gif') repeat-x; text-transform:uppercase; border-spacing: 0px; }
.content tr td.myTitle { color:#FFF; background:transparent }

.sidebar{ font: 13px Verdana; color:#374457; margin:0px; padding:0px; width: 230px; border: none;}

.sidebar ul{ list-style-type:none; border-spacing: 0px; }
.sidebar ul li { list-style-type:none; background:url('images/li.gif') no-repeat; border:0px none; margin:0px; padding-left:20px; font: 12px  Verdana; }

.lineheader td {font: 20px Trebuchet MS; color: #374457; border-bottom: dotted 1px; padding: 10px; margin-bottom: 20px; text-align: left;}
/*.lineheader { color: #ffffff; text-indent: 2px; background-color: #737373; text-align: left; }*/
.search_result {border: dotted 1px; margin: 10px; padding: 10px; }

.footer{ float:left; text-align:center; width:100%; color:#F1DCE3; margin:0 auto; padding:0; background:url('images/footerbg.gif') repeat-x; font-size: 70%; text-decoration: none;}
.footer a:hover{text-decoration:underline; border:none;}
.footer a:link, .footer a:active, .footer a:visited{color:#303030; border:none; font-weight:normal;}
.footer p {color:#8696A7;margin:0px;margin-top:15px;margin-bottom:15px;}

.lineerror { border: 1px solid; font-size: 110%; color: #ff0000; text-indent: 2px; background-color: #E6E6E6; text-align: center; }

.linedetail { font-size: 250%; color: #ffffff; text-indent: 2px; background-color: #737373; text-align: left; }
.linedetail a { font-size: 12px; color: #ffffff; }
.linedetail td { padding: 3px; }

.basket_input { border: 2px solid; border-color: #9D1D14; border-radius: 3px; webkit-border-radius: 3 px; }
.search_string {background-color: #53af47 }

#tabbed_navigation{ border-bottom:1px solid #ADADAD; margin-bottom:15px; }
#tabbed_navigation ul { padding:0px; }
#tabbed_navigation ul li { list-style-image: none; list-style-position: outside; list-style-type: none; border: 1px solid #999999; float: left; font-size: 80%; font-weight: bold;
                           margin-left: 3px; padding: 7px 10px; position: relative; text-decoration: none; top: 2px; }
#tabbed_navigation ul li a { float: left; text-decoration: none; color:# 333333; }
#tabbed_navigation ul li a:hover { background-color: #999999; }
#tabbed_navigation ul li.current { border-bottom:1px solid #bfbfbf; border-radius: 8px 8px 0px 0px; background-color: #bfbfbf; }

