
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      Editing user
    </td>                
  </tr> 
  <%= render 'form' %>
  <tr class="tablelinemain">
    <td colspan="2">
      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', users_path %>
    </td>
  </tr>