  <% product.assets.each do |asset| %>
    <tr class="line<%= cycle('1', '2') %>">
      <td width="5%"><%= link_to( image_tag(asset.image.url(:content)), asset.image.url(:original),:target => "_blank" ) %></td>
    </tr>
  <% end %>

