<div class='fadein'>
  <img src="/stylesheets/<%=@config.theme%>/images/1.jpg">
  <img src="/stylesheets/<%=@config.theme%>/images/2.jpg">
  <img src="/stylesheets/<%=@config.theme%>/images/3.jpg">
  <img src="/stylesheets/<%=@config.theme%>/images/4.jpg">
</div>

