
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t 'Editing menue' %>
    </td>                
  </tr> 
  <%= render 'form' %>
  <tr class="tablelinemain">
    <td colspan="2">
      <%= link_to 'Show', @menue %> |
      <%= link_to 'Back', menues_path %>
    </td>
  </tr>