
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t('Editing ') + News.human_name %>
    </td>
  </tr>
  <%= render 'form' %>
  <tr class="linemain">
    <td colspan="2">
      <%= link_to t('Show'), @news %> |
      <%= link_to t('Back'), news_index_path %>
    </td>
  </tr>

