
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      New block
    </td>                
  </tr> 
<%= render 'form' %>

  <tr class="tablelinemain">
    <td colspan="2">
      <%= link_to 'Back', blocks_path %>
    </td>
  </tr>