  <div class="<%= ( news_counter == 0 ) ? "first article" : "article" %>">
    <% zahl = 1 + rand(14) %>
    <p class="meta"><%= l news.date %></p>
    <a class="image" href="#"><img src="/images/insert<%= zahl.to_s %>.jpg" width="40" height="40" /></a>
    <p><%= raw news.notice %></p>
  </div>    

