<% zahl = 1 + rand(14) %>
<img src="/images/insert<%= zahl.to_s %>.jpg" width="40" height="40" style="float:left; margin-right:15px; margin-bottom: 15px">
&nbsp;<br />
<h4><%= l news.date %></h4>
&nbsp;<br />
<p><%= raw news.notice %></p>

