<% zahl = 1 + rand(14) %>
<img src="/assets/insert<%= zahl.to_s %>.jpg" width="40" height="40" style="float:left; margin-right:15px; margin-bottom: 15px">
<h2><%= l news.date %></h2>

<p><%= raw news.notice %></p>

