  <div class="<%= ( news_counter == 0 ) ? "first article" : "article" %>">
    <% zahl = 1 + rand(14) %>
    <p class="meta"><%= l news.date %></p>
    <div class="image"><img src="/images/insert<%= zahl.to_s %>.jpg" width="40" height="40" /></div>
    <p><%= news.notice %></p>
  </div>
