<div class="column grid-8">
  <p>
    Sie suchen in Ihrer Anzeige auf Ihrer Webseite einen Rails-Entwickler.</p>
  <p>
    mittenin.at bietet Rails-Entwicklung passend zu Ihren Anpr&uuml;chen bzw. jenen Ihrer Kunden.</p>
  <h2>
    Was ist mittenin.at ?</h2>
  <p>
    Wir bieten rasche und effiziente Webanwendungsentwicklung und -hosting in der Programmiersprache Ruby auf Basis des Ruby on Rails Frameworks.</p>
  <p>
    Wir, das sind Michael Stranka und Stefan Haslinger, vereinen 40 Jahre IT-Erfahrung mit der Begeisterung f&uuml;r eine neue Art der Softwareentwicklung. Mittels Scrum - einer agilen Variante f&uuml;r Software- und Produktentwicklung - wissen unsere Kunden stets, woran sie sind.</p>
  <h2>
    Individuelle Softwarel&ouml;sung passgenau zu Ihrer Anforderung</h2>
  <p>
    Sie sprechen stets mit den ausf&uuml;hrenden Personen pers&ouml;nlich. Wir stellen Ihnen nach kurzer Zeit einen laufenden, gehosteten Prototyp zur Verf&uuml;gung, der kontinuierlich bis zum endg&uuml;ltigen Produkt weiterentwickelt wird.</p>
  <p>
    Damit vermeiden wir Missverst&auml;ndnisse, sparen Ihnen langwierige Spezifikationen und Vertr&auml;ge, und Sie sind im Entwicklungsprozess hautnah eingebunden.</p>
  <h2>
    Profis f&uuml;r Profis</h2>
  <p>
    Professionalit&auml;t ist unsere Philosophie, wir bieten sie w&auml;hrend des gesamt Software-Lifecycles. Unsere Projekte sind stets in einem definierten, dokumentierten und damit f&uuml;r den Kunden nachvollziehbaren Zustand.</p>
  <p>
    Alle unsere Produkte und auch eventuelle Erweiterungen werden im leicht lesbaren Quelltext ausgeliefert. Die st&auml;ndig wachsende Entwickler&shy;ge&shy;meinde rund um Ruby on Rails garantiert die Zukunfts&shy;sicherheit Ihrer L&ouml;sung.</p>
  <p>
    Damit bleibt Ihnen mehr Zeit f&uuml;r&#39;s Gesch&auml;ft statt Fehlersuche!</p>
  <h2>
    Let&#39;s talk about Rails!</h2>
  <p>
    Nehmen Sie einfach mit uns Kontakt auf, etwa per E-Mail: stefan.haslinger@mittenin.at. Wenn Sie lieber mit mir pers&ouml;nlich sprechen, rufen Sie mich bitte unter der Telefonnummer +43 680 213 3030 an. Pers&ouml;nliche Gespr&auml;che im Gro&szlig;raum Wien sind f&uuml;r Sie stets kostenlos, f&uuml;r die &Uuml;berbr&uuml;ckung gr&ouml;&szlig;erer Distanzen schlagen wir Videokonferenzen per Skype oder Google Talk vor.</p>
</div>
<div class="column grid-8">
  <fieldset>
    <legend>Was ist Ruby?</legend> Ruby ist eine dynamische, freie Programmiersprache, die sich einfach anwenden und produktiv einsetzen l&auml;sst. Sie hat eine elegante Syntax, die man leicht lesen und schreiben kann.<br />
    Sie wollen mehr wissen? <a href="http://www.ruby-lang.org/de/about/">http://www.ruby-lang.org/de/about/</a></fieldset>
  <fieldset>
    <legend>Was ist Ruby on Rails?</legend> Ruby on Rails, kurz Rails, ist ein in Ruby geschriebenes quelloffenes Web Application Framework.<br />
    Rails ist gepr&auml;gt von den Prinzipien &bdquo;Don&rsquo;t Repeat Yourself&ldquo; und &bdquo;Convention over Configuration&ldquo;: Statt einer variablen Konfiguration sind Konventionen f&uuml;r die Namensgebung von Objekten einzuhalten, woraus deren Zusammenspiel sich automatisch ergibt. Diese Funktionen erm&ouml;glichen eine rasche Umsetzung von Anforderungen, was hilfreich ist f&uuml;r Teams wie mittenin.at, die agile Softwareentwicklung betreiben.&nbsp; Sie wollen mehr wissen? <a href="=">http://de.wikipedia.org/wiki/Ruby_on_Rails</a></fieldset>
  <fieldset>
    <legend>Was sind agile Softwaremethoden?</legend> Agile Softwareentwicklung versucht mit geringem b&uuml;rokratischen Aufwand, wenigen Regeln, Transparenz und iterativen Vorgehen den Entwicklungsprozess zu vereinfachen, zu beschleunigen und f&uuml;r die Teilnehmer erfreulicher zu gestalten.<br />
    Sie wollen mehr wissen? <a href="=">http://de.wikipedia.org/wiki/Agile_Softwareentwicklung</a></fieldset>
  <fieldset>
    <legend>Was heisst f&uuml;r mittenin.at Professionalit&auml;t?</legend> Wir verstehen Professionalit&auml;t im Sinne des Software Craftsmanships: Die Prinzipien des Manifesto for Software Craftsmanship (http://manifesto.softwarecraftsmanship.org/) lassen sich &uuml;bersetzen zu:
    <ul>
      <li>
        Wir lernen voneinander und tauschen Erfahrungen aus</li>
      <li>
        Wir erstellen die Software, die der Kunde wirklich braucht</li>
      <li>
        Wir stellen sicher, dass unsere Ergebnisse eine hohe interne und externe Qualit&auml;t besitzen</li>
      <li>
        Wir stellen flexible, leicht &auml;nderbare Software her</li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Was ist ein Framework?</legend> Ein Framework ist ein Programmierger&uuml;st, das in der Softwaretechnik, insbesondere im Rahmen der objektorientierten Softwareentwicklung sowie bei komponentenbasierten Entwicklungsans&auml;tzen, verwendet wird. Es bietet Komponenten, Module, Plug-Ins, Konventionen, Schnittstellen oder &Auml;hnliches um den Entwicklungsprozess zu vereinfachen. Dar&uuml;ber hinaus verf&uuml;gt Ruby on Rails noch &uuml;ber mehr als 30 000 Erweiterungsmodule, sogenannte Gems. Dieser Werkzeugkasten verhindert, dass wir das Rad dauernd neu erfinden.</fieldset>
</div>
