
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t('Editing product') %>
    </td>                
  </tr> 
  <%= render 'form' %>
  <tr class="tablelinemain">
    <td colspan="2">
      <%= link_to 'Show', @product %> |
      <%= link_to 'Back', products_path %>
    </td>
  </tr>