
  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t('New ') + Product.human_name %>
    </td>
  </tr>
<%= render 'form' %>

  <tr class="linemain">
    <td colspan="2">
      <%= link_to t('Back'), products_path %>
    </td>
  </tr>

